.main-div {
    height: 84vh;
    background-image: "";
    background-color: #f4eae1;
    font-family: 'Rubik' !important;
}

.form-floating{
    width: 500px;
    /* position: absolute; */
    /* margin-left: 2%; */
}

.form-check-label{
    font-size: 20px;
    width: auto;
}

.form-check-input{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.sinistra{
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
    /* width: 40%; */
}

.destra{
    position: absolute;
    margin-right: 10px;
    margin-left: 725px;
    margin-top: 20px;
    /* margin-top: 2% */
}

.location{
    display: flex;
    flex-direction: row;
    /* margin-left: -275px; */
    margin-right: 10px;
}

.location div{
    width: 250px;
    margin: 5px;
    margin-left: -2px;
}

span{
    margin-left: 2px;
}