<div class="main-div">
    <div id="functions-div">
        <div class="materiale" id="ricezione-materiale" (click)="effettuaOperazione('user-management');">
            <img class="icon-materiale" src="assets/img/users-img.png" alt="">
            GESTIONE UTENTI
        </div>
        <div class="materiale" id="spedizione-materiale" (click)="effettuaOperazione('task-management');">
            <img class="icon-materiale" src="assets/img/task_icon.png" alt="">
            GESTIONE TASK
        </div>
    </div>
</div>
