.task-div {
    height: 75%;
    flex: 1;
    overflow-y: auto;
    /* margin-top: 4em; */
    margin-right: 2em;
    margin-left: -30%;
}

.task-div table {
    /* width: 95%; */
    border-collapse: collapse;
    background-color: #faf5f1;
    /* margin-top: 100px; */
}

.task-div td {
    padding: 10px;
    text-align: left;
}

.task-div th {
    padding: 10px;
    background-color: #FA7606;
    border: 1px solid #ccc;
    color: white;
    font-weight: bold;
    width: auto;
}

.main-div {
    display: flex;
    flex-direction: row;
    height: 84vh;
    background-image: "";
    background-color: #f4eae1;
    font-family: 'Rubik' !important;
}

.bancali {
    margin-left: 30%;
}

.dettagli {
    margin-left: 5vh;
    margin-top: 8vh;
}

#dettagli_titolo {
    padding-left: 34%;
    font-weight: bold;
}

.colonna1 {
    text-align: right;
    width: 400px;
    text-decoration: underline;
}

.colonna2 {
    padding-left: 10px;
}

#tabella_dettagli {
    margin-top: 15px;
}

#titolo_bancali {
    margin-top: 8vh;
    font-weight: bold;
}